<link href="/style.css" rel="stylesheet">

<div id="page" style="display: none" >
<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-4">
	  <img src="/web/img/uhn.jpg">
  </div>
</div>
</div>

<!--- Welcome Section -->
<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-12">
	<h2>Toronto General Hospital</h2>
	<br/>
    <h4>Scan to enter.</h4>
    <div id="siop_qr_code"></div>
  </div>
</div>
</div>

<div id="remote_cookie_reader"></div>
<input type="hidden" id="app_instance_params" value="{{app_instance_params}}">
<input type="hidden" id="app_config_params" value="{{app_config_params}}">
</div>

<script src="{{client_api_url}}/oidc_app_instance.js"></script>
<script src="{{client_api_url}}/mqttws31.js"></script>
<script src="{{client_api_url}}/siop_mqtt_client.js"></script>

<script>
  var app_instance = new oidc_app_instance('app_config_params', 'app_instance_params', autoProceed);
  app_instance.startup();

  function autoProceed(discovery_info, wallet_url){
    if (wallet_url){
      window.location = discovery_info.credential_request_url;
      return false;
    }
    else{
      var pageEl = document.getElementById("page")
      pageEl.setAttribute("style", "display: block");
      siop_set_img(discovery_info);
      if (discovery_info.rwl){
        siop_mqtt_client(discovery_info);
      }
    }
  }
</script>

